body {
	font-family: cursive;
	padding: 10px;
	background-color: #232323;
}

.header {
	padding: 30px;
	text-align: center;
	background-color: #5b0505;
	border: 7px outset orange;
}

.header h1 {
	font-size: 50px;
}

.topnav {
	margin-top: 30px;
	padding: 5px;
	overflow: hidden;
	background-color: #5b0505;
	border: 7px outset orange;

}

.topnav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 18px;
	font-size: 22px;
	text-decoration: none;
}

h2 {
	clear: left;
}

.summary {
padding: 0px 10px;
}

.summary p {
	font-size: 24px;
	color: white;
}

.photo {
    height: auto;
	border-radius: 5px;
	margin: 0px 20px 1.5rem auto;
	background-color: white;
	float: left;

}

.photo img {
	padding: 10px;
	width: 250px;

}

.photo .caption {
	font-size: 14px;
	font-style: italic;
}

.footer {
	clear: left;
	padding: 10px;
	text-align: center;
	background-color: #5b0505;
	margin-top: 20px;
	border: 3px outset orange;
}

.footer h2 {
	color: white;
}